asgiref
blinker
certifi
charset-normalizer
click
cmake
colorama
Django
donttrust
filelock
Flask
gunicorn
idna
mage
itsdangerous
Jinja2
lit
MarkupSafe
mpmath
networkx
numpy
nvidia-cublas-cu11
nvidia-cuda-cupti-cu11
nvidia-cuda-nvrtc-cu11
nvidia-cuda-runtime-cu11
nvidia-cudnn-cu11
nvidia-cufft-cu11
nvidia-curand-cu11
nvidia-cusolver-cu11
nvidia-cusparse-cu11
nvidia-nccl-cu11
nvidia-nvtx-cu11
packaging
Pillow
python-dotenv
requests
six
sqlparse
sympy
torch
torchvision
triton
typing_extensions
tzdata
urllib3
Werkzeug
waitress
Brotli
image
Flask-Compress